/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #7777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #7ed56fcc, #28b485d0),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /* keep the image by the coordinates we give ,  the rest is being cut. */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  /* //center the text */
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: white;
  text-transform: uppercase;
}
.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 35px;
}
.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17px;
}
