//colors

$primary-color: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;
$color-white: white;
$color-black: black;
$color-grey-light1: rgb(236, 228, 228);
$color-grey-light2: #eee;
$color-grey-dark: #868686;
$color-grey-dark2: #999;
$color-secondary-light: #ffb990;
$color-secondary-dark: #ff7730;
$color-ters-light: #2998ff;
$color-ters-dark: #5643fa;

// fonts
$default-font-size: 1.6rem;

// /grid

$grid-width: 120rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;

$gutter-horizontal: 6rem;
