// funciontly

.card {
  perspective: 120rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  &__side {
    background-color: rgb(218, 155, 132);
    height: 50rem;
    transition: all 0.9s ease;
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    &--front {
      background-color: $color-white;
    }
    &--back {
      background-color: rgb(109, 171, 241);
      transform: rotateY(-180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
    }
  }
  &:hover &__side--front {
    transform: rotateY(180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }
  //  front side styling
  &__pic {
    background-size: cover;
    height: 23rem;
    background-blend-mode: soft-light;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-dark,
          $color-secondary-light
        ),
        url(../../img/nat-5.jpg);
    }
    &--2 {
      background-image: url(../../img/nat-5.jpg);
    }
    &--3 {
      background-image: url(../../img/nat-5.jpg);
    }
  }

  &__heading {
    font-size: 2.4rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 55%;
  }
  &__heading-span {
    padding: 2rem 1.5rem;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.8),
        rgba($color-secondary-dark, 0.8)
      );
    }
  }
}
