* *::after *::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;

  @include respond(tab-land) {
    //< 1200?
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    //< 900?
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}
body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    //< 900?
    padding: 0;
  }
}
